<!-- src/views/partials/header.hbs -->

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/img/3.png" alt="Logo" style="height:40px;">
        </a>
    </div>
</nav>
